<% if resource.errors.any? %>
  <div id="error_explanation">
    <!-- <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2> -->
    
    <div class="alert alert-warning d-flex align-items-center pb-0" role="alert">
      <i class="bi bi-exclamation-circle fs-4"></i>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
