<div class="card">
  <div class="card-header d-flex">
    <div>
      <span class="fs-3">編輯團體</span>
    </div>
  </div>
  <%= render 'form', group: @group %>
</div>
<% if @group.errors.any? %>
  <div class="">
    <ul>
      <% @group.errors.full_messages.each do |error| %>
        <li>
          <%= error %>
        </li>
        <% end %>
    </ul>
  </div>
<% end %>