<div class="d-flex justify-content-between align-items-start">
  <h2>已加入的團體清單</h2>
  <%= link_to "新增團體", new_group_path, class: 'btn btn-success mb-2' %>
</div>

<div class="list-group">
  <% @groups.each do |group| %>
    <%= link_to group_path(group), class: 'list-group-item list-group-item-action' do %>
      <div class="text-primary fs-5">
        <%= group.name %>  
      </div>  
      <p class="text-muted fs-6 ms-3 mt-1 mb-1">
        <%= group.description %>
      </p>
    <% end %>
  <% end %>
</div>