<% if current_user.member?(@group) %>
  <%= render 'group', group: @group %>
<% elsif %>
  <div class="card text-center text-secondary border-secondary m-5">
    <div class="card-body">
      <h3>你還沒加入這個團體，所以無法查看內容喔！</h3>
    </div>
  </div>
<% end %>