<h1>Welcome, this is the home page</h1>  
  
<button type="button" 
        class="btn btn-lg btn-danger" 
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Amazing content, right ?">
        Click to toggle popover
</button> 

<h1>This is h1 title</h1>  
  
<div id="app">  
<p>{{ course }}</p>  
  
<button-counter></button-counter>  
  
</div>
