<div class="city-selector">
  <div class="blo">
    <!-- 縣市選單 -->
    <select class="county" ></select>
  </div>
  <div class="blo">
    <select class="district" ></select>
    <!-- 區域選單 -->
  </div>
</div>
